@model SportEvents.Models.ForgotPassword
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Zapomenuté heslo</h2>
<hr />

   <h3 style="text-align:center"> @TempData["notice"]</h3>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            @Html.LabelFor(model => model.Email)<br />
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)<br />           

            <input type="submit" value="Vytvořit nové heslo" class="button" />
        }
    
 



